*{
 font-family: "Poppins";
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
p{
 display: flex;
 align-items: center;
 gap: 5px;
}
h4{
 margin: 6px;
 color: var(--a, #003F62);
font-size: 22.09px;
font-weight: 600;

}
h5{
 color: var(--a, #003F62);
font-family: Poppins;
font-size: 16.09px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
pre{
 color: #303030;
font-family:"Poppins";
font-size: 16.09px;
font-style: normal;
font-weight: 400;
line-height: normal;
}