.sale {
	display: flex;
	align-items: center;
	margin-top: 100px;
	margin-left: 100px;
	width: 1315px;
	height: 417px;
	flex-shrink: 0;
	border-radius: 20px;
	background: url(/images/pexels-nao-triponez-129208\ 1.png),
		lightgray 0px -244.868px / 100% 210.488% no-repeat;
	.name {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		margin-left: 913px;
	}
	h1 {
		color: #2e8fc5;
		font-size: 41px;
		font-weight: 700;
		line-height: normal;
	}
 p{
  color: #FFF;
font-size: 18px;
 }
}
.name button {
	display: flex;
	width: 134px;
	height: 45px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	border: none;
	border-radius: 20px;
	background: var(--b, #eda415);
	color: #fff;
}